.sidebar h2{

font-size:26px;

}
.sidebar a{

font-size:16px;

}
.card h2{

font-size:22px;

}
.number{

font-size:42px;

font-weight:700;

color:#2563eb;

}
.card p{

font-size:15px;

}
.hero-box{

background:linear-gradient(135deg,#2563eb,#4f46e5);

padding:30px;

border-radius:20px;

color:white;

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:35px;

}
.hero-btn{

background:white;

color:#2563eb;

padding:14px 28px;

border-radius:12px;

font-size:16px;

font-weight:600;

border:none;

cursor:pointer;

}